* {
    font-family: 'Hahmlet', serif;
    box-sizing: border-box;
}

:root {
    --main-color: #287233;
    --accent-color: #cda434;
    --body-color: #293133;
}

a {
    color: none;
    text-decoration: none;
}

a:hover {
    color: var(--accent-color) !important;
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4,
h6 {
    color: var(--main-color);
}

h5 {
    color: var(--accent-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-body-color {
    background-color: var(--body-color);
}

.tx-main-color {
    color: var(--main-color);
}

.tx-accent-color {
    color: var(--accent-color);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--main-color) !important;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    border-radius: 50%;
}


.modal-dialog {
    border-radius: 0px !important;
}

.card {
    border-radius: 0px !important;
}

.bordi {
    border: 3px solid var(--accent-color);
}

hr {
    color: var(--accent-color);
}

.btn {
    color: var(--accent-color);
    background-color: var(--main-color);
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.btn:focus {
    color: var(--main-color);
}

.btn:hover {
    color: var(--main-color);
    background: var(--accent-color);
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

.btn:before,
.btn:after {
    content: '';
    background-color: var(--accent-color);
    opacity: 0;
    transform: scaleX(0);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease-in 0s;
}

.btn:after {
    background-color: var(--main-color);
    border-radius: 0;
    transform: scaleX(1);
}

.btn:visited {
    background-color: var(--main-color);
    border-radius: 0;
    transform: scaleX(1);
}

.btn:hover:before {
    border-radius: 0;
    opacity: 1;
    transform: scaleX(1);
}

.btn:hover:after {
    border-radius: 50%;
    opacity: 1;
    transform: scaleX(0);
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--main-color);
    color: var(--body-color);
    border: none !important;

}

@media only screen and (max-width: 767px) {
    .btn {
        margin-bottom: 20px;
    }
}

.icon {
    font-size: 60px;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity/see-through */
    border: 3px solid var(--accent-color);
    z-index: 2;
    text-align: center;
}

.bg-text2 {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/opacity/see-through */
    z-index: 2;
}

.zoom:hover {
    transform: scale(1.2);
    transition: 0.8s;
}
